<configuration scan="true">

    <!-- Logs TRACE, DEBUG and INFO levels to System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.fullfacing.keycloak4s.core.logging.StdOutFilter"/>
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} - %-5level{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logs WARNING and ERROR levels to System.err -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.err</Target>
        <filter class="com.fullfacing.keycloak4s.core.logging.StdErrFilter"/>
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} - %-5level{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty"                 level="error"/>
    <logger name="keycloak4s.admin"         level="trace"/>
    <logger name="keycloak4s.admin.monix"   level="trace"/>
    <logger name="keycloak4s.auth"          level="trace"/>

    <root>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
    </root>

</configuration>