# scala
target
*.sc

#IntelliJ
*.ipr
*.iws
.idea
.bsp/

# sbt specific
.cache/
.lib/
dist/*
lib_managed/
project/boot/
project/plugins/project/

# Mac stuff
.DS_Store
project/project/
keycloak4s-admin/src/main/java/
keycloak4s-admin/src/main/scala-2.11/

# vscode
.bloop
.bsp
.metals
.vscode