# scala
target
*.sc

#IntelliJ
*.ipr
*.iws
.idea

# sbt specific
.cache/
.lib/
dist/*
lib_managed/
project/boot/
project/plugins/project/

# Mac stuff
.DS_Store
project/project/
src/main/java/
src/main/scala-2.11/